<a href="https://colab.research.google.com/github/ShreyaNavya/Spam-mail/blob/main/MailSpam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#detects if email is spam or not!
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
#from nltk.corpus import stopwords

In [8]:
#csv file session storage me upload h..so jb v prgrm run krte tym file import krna h fir copy path krke strt se prgrm run hoga!
raw_mail_data=pd.read_csv("/content/spam_ham_dataset.csv")
#replace the null values with a null string
mail_data= raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [9]:
mail_data.shape

(5171, 4)

In [10]:
mail_data.head() #sample data

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [11]:
#label spam wala 0, non-spam (ham) wala 1.
mail_data.loc[mail_data['label']=='spam','label',]=0
mail_data.loc[mail_data['label']=='ham','label',]=1

In [12]:
#seperate the data as text & label, X is text, Y is label.
X=mail_data['text']
Y=mail_data['label']

In [13]:
print(X)
print('//////////')
print(Y)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object
//////////
0       1
1       1
2       1
3       0
4       1
       ..
5166    1
5167    1
5168    1
5169    1
5170    0
Name: label, Length: 5171, dtype: object

In [25]:
#Train Test split!
#split the data as test data & train data.
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,train_size=0.8,test_size=0.2)

In [53]:
#transform the text data to feature vectors that can be used as input to the Svm model using Tfidvectorizer.
#convrt the text to lower case lettrs.
feature_extraction=TfidfVectorizer(min_df=1, stop_words='english',lowercase='True')
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

#X_test_features=feature_extraction.fit_transform(X_test)
#convrt Y_train & Y_test values as integrs.
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [49]:
#Training the model -> SVM
#training the svm model with training data.
model = LinearSVC(verbose=0)
model.fit(X_train_features, Y_train)

LinearSVC()

In [50]:
#prediction on training data.
#prediction_on_training_data=model.predict(X_train_features) or,
accuracy_on_training_data=model.score(X_train_features, Y_train)

In [51]:
print("Accuracy: ",accuracy_on_training_data)

Accuracy:  1.0

In [54]:
#model.predict(X_test_features)
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(Y_test,prediction_on_test_data)

In [45]:
print("Accuracy: ",accuracy_on_test_data)

Accuracy:  0.9932367149758454

In [55]:
#prediction on new mail.
input_mail=["Subject: february & january 2000 industrial activities this means of communication is used because of trading hour .fyi . . . only : ve some links for february to true - up today and will finalize them by the end of today . i will review january industrial activity { alloc . , links / buybacks , ect . } by the end of tomorrow , tuesday . i will be taking vacation this friday , feb 11 th and monday , feb 14 th ."]
#cnvrt text to feature  vectors.
input_mail_features=feature_extraction.transform(input_mail)
#make predictns.
prediction=model.predict(input_mail_features)
print(prediction)
if(prediction[0]==1):
  print("HAM MAIL!!")
else:
  print ("SPAM MAIL!!")

[1]
HAM MAIL!!

*Thank you!!*